@{
ViewBag.App = "CSS Sprite Sheet Generator";
ViewBag.Title = ViewBag.App;
}

<div class="hero-unit text-center">
    <h1>Sprite Sheeting, Made Easy!</h1>

    <p>
        @ViewBag.App solves issues with using web-based generators. Drag and drop, hit save, and you're done!
    </p>

    <p>
        <a href="#download" class="btn btn-primary btn-large">Download now &raquo;</a>
    </p>
</div>
<section id="about">
    <div class="row">
        <div class="span6">
            <div class="well">
                <h3>About</h3>

                <p>
                    @ViewBag.App gives you more control over how your sprite sheets are created. You can drag and drop
                    to manually place sprites or have @ViewBag.App build an optimized version for you. @ViewBag.App also
                    saves you time by allowing you to export and import your work. Need to add a sprite? Just drop it in
                    and you'll get an updated image and CSS!
                </p>
            </div>
        </div>
        <div class="span6">
            <div class="well height170">
                <h3>Contact</h3>

                <p>
                    This website and app are authored by <a href="http://tl.toofz.com/Contact">Leonard Thieu</a>.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="download">
    <div class="row">
        <div class="span12">
            <div class="well">
                <div class="row">
                    <div class="span5">
                        <h3>Download</h3>

                        <p>
                            Download @ViewBag.App v0.9 Beta <a href="/Files/CSS-Sprite-Sheet-Generator.msi">here</a>.
                        </p>
                        <h5>System Requirements:</h5>
                        <ul>
                            <li>Windows 7/Server 2003 SP2/Server 2008/Vista SP1/XP SP3</li>
                            <li>.NET Framework 4</li>
                        </ul>
                    </div>
                    <div class="span5 offset1">
                        <h3>Instructions</h3>
                        <ul>
                            <li>
                                Run the <strong>CSS-Sprite-Sheet-Generator.msi</strong> file that starts the
                                Installation Wizard.
                            </li>
                            <li>
                                Follow all steps suggested by the wizard. Please pay special attention to the
                                corresponding installation options.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sourcecode">
    <div class="row">
        <div class="span12">
            <div class="well">
                <h3>Source Code</h3>

                <p>
                    Want to see the source code? It's available for download as a Visual Studio 2010 solution or for
                    browsing on GitHub.
                </p>
                <ul>
                    <li><a href="/Files/CssSpriteSheetGenerator.zip">Download</a></li>
                    <li><a href="">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="screenshots">
    <div class="row">
        <div class="span12">
            <div class="well">
                <h3>Screenshots</h3>

                <ul class="thumbnails">
                    <li>
                        <img class="thumbnail" src="/Images/Scattered.png" alt="Scattered sprites">
                    </li>
                    <li>
                        <img class="thumbnail" src="/Images/Optimized.png" alt="An optimized sprite sheet">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>